registry=https://dev-it-palaceresorts-427784172992.d.codeartifact.us-east-1.amazonaws.com/npm/pr-policy-evaluator/
//dev-it-palaceresorts-427784172992.d.codeartifact.us-east-1.amazonaws.com/npm/pr-policy-evaluator/:always-auth=true
//dev-it-palaceresorts-427784172992.d.codeartifact.us-east-1.amazonaws.com/npm/pr-policy-evaluator/:_authToken=${CODEARTIFACT_AUTH_TOKEN}
